<h1>Stupid Coach</h1>
<form action="/answer" class="form">
  <label for="text" class="text">Ask your coach for something:</label>
  <input type="text" name="question" placeholder="type in your question">
  <input type="submit" value="Ask!" class="btn">
</form>
